.background {
  background: center no-repeat url(https://github.com/Wachingolla/Wachingolla.github.io/blob/main/assets/background.jpg?raw=true);
}

.logo {
  background-image: url(https://github.com/Wachingolla/Wachingolla.github.io/blob/main/assets/horizontal_logo.png?raw=true);
}

.progressBar {
  background-color: rgb(2, 174, 165);
}

.splash {
  background-image: url(https://github.com/Wachingolla/Wachingolla.github.io/blob/main/assets/splash-screen_hd.jpg?raw=true);
}

.watermark {
  background-image: url(https://github.com/Wachingolla/Wachingolla.github.io/blob/main/assets/watermark.png?raw=true);
  background-size: 57px 57px;
}